.container{
    margin: 10%;
}
.orang-bg{
    background-color: #fceae8;
    border-radius: 10xp;
}
.carousel-item {
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.button{
    background-image: linear-gradient(to bottom,#ff5898 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: whitesmoke;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    margin: 5px;
    color: white;
}
.cat1{
    background-color: #ff136f;
}
.cat2{
    background-color:yellowgreen;
}
.cat3{
    background-color: blue;
}.categories img {
    width: 100px;
}
.card{
border: none;
box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}

